

.pageContainer {
    position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.difficultyContainer {
    position: fixed;
    top: -90%;
    left: 10%;
    right: 10%;
    height: 90%;    

    background-color: rgba(0, 0, 0, 0.8);    
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: transform 0.2s;

    &.difficultyOpen {
        transform: translateY(100%);
        -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0, 0.5);
        -moz-box-shadow: 0 0 10px 10px rgba(0,0,0, 0.5);
        box-shadow: 0 0 10px 10px rgba(0,0,0, 0.5);
    }
}